# Copy this file to .env.local and fill in your values
# .env.local is gitignored and will override other env files

VITE_API_BASE_URL=
VITE_WEB3_CHAIN_ID=
VITE_WEB3_RPC_URL=
VITE_WEB3_CHAIN_NAME=
VITE_WEB3_EXPLORER_URL=
